@using UniversityManagementApp.Models
@model IEnumerable<UniversityManagementApp.Models.DepartmentModels>


@{
    ViewBag.Title = "Save";
    List<SemesterModels> aSemesters = ViewBag.Semesterist;
}

<style>
    label.error {
        color: red;
        font-weight: bold;
    }
</style>

<div class="wrapper">
    <form id="CourseSaveForm" method="POST">
        <fieldset class="main_form">
            <legend>Save Course</legend>
            <div class="form-group">
                <label class="col-md-3 control-label">Code</label>
                <div class="col-md-9">
                    <input id="Code" type="text" name="Code" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input id="Name" type="text" name="Name" class="form-control" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Credit</label>
                <div class="col-md-9">
                    <input id="Credit" type="text" name="Credit" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Description</label>
                <div class="col-md-9">
                    <textarea class="form-control" id="Description" rows="5" cols="20" name="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Department</label>
                <div class="col-md-9">
                    <select class="form-control" id="departmentCode" name="departmentCode">
                        @{
                            <option value=""> Select Department....</option>
                            foreach (var aDepartment in @ViewBag.DepartmentList)
                            {
                                <option value=@aDepartment.Code> @aDepartment.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Semester</label>
                <div class="col-md-9">
                    <select class="form-control" id="Id" name="Id">
                        @{
                            <option value=""> Select Semester....</option>
                            foreach (var aSemester in aSemesters)
                            {
                                <option value=@aSemester.Id> @aSemester.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>

           
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button id="saveButton" type="submit" value="Save" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
            <div class="show_msg"><label for="messageLabel">@ViewBag.Message</label></div>
        </fieldset>
    </form>
</div>





@section scripts
{
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function() {
            $("#CourseSaveForm").validate({
                rules: {
                    Code:
                    {
                        required: true,
                        minlength: 5
                    },
                    Name: "required",
                    Credit:
                    {
                        required: true,
                        number: true,
                        minlength: 0.5,
                        range: [0.5, 5.0]
                    },
                    Id: "required",
                    departmentCode: "required",


                },
                messages: {
                    Code:
                    {
                        required: "Please enter a code",
                        minlength: "Your code must consist of at least 5 characters",
                    },
                    Name:
                    {
                        required: "Please add your course name"
                    },
                    Credit:
                    {
                        required: "Please add course credit",
                        number: "Credit must be between 0.5 to 5.0",
                        minlength: "Credit must be between 0.5 to 5.0",
                        range: "Credit must be between 0.5 to 5.0",
                    },
                    Id:
                    {
                        required: "Please select semester"
                    },
                    departmentCode:
                    {
                        required: "Please select department"
                    },
                }
            });
        });
    </script>
}




