@{
    ViewBag.Title = "Save";
}

<style>
    label.error 
    {
        color: red;
        font-weight: bold;
    }
</style>
<div class="wrapper">
    <form id="allocateClassRoomForm" method="POST">
        <fieldset class="main_form">
            <legend>Unallocated All Classroom</legend>
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button id="saveButton" type="submit" value="Unallocate All ClassRoom" class="btn btn-primary btn-lg">Unallocate All ClassRoom</button>
                </div>
                <div class="col-md-4"></div>
            </div>

           
            <div class="show_msg"><label id="ra" ></label></div>
             
        </fieldset>
    </form>
</div>



@section scripts
{


    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>

        $("#saveButton").on("click", function () {
            var departmentId = $("#saveButton").val();
            var json = { departmentCode: departmentId };

            if (confirm("Are you sure you want unallocated all classroom ?"))
            {
                $.ajax(
                    {
                    type: "POST",
                    url: '@Url.Action("UnallcateAllClass", "AllocateClassRoom")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        alert(data);
                        
                    },
                    });
            }
            else
            {
                return false;
            }

        });


    </script>

}




