@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><b>University Management System.</b></h2>
    <p class="lead">This web application is only for using BIST. University will ask for changing several features so that it can be used for long time.</p>
</div>

